# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Large product videos
public/products/hmd/hmd-dub-p70.mp4
public/products/hmd/hmd-dub-x50-pro.mov
public/products/hmd/hmd-watch-x1.mp4
public/products/hmd/hmd-dub-p50.mp4
public/products/hmd/hmd-dub-p60.mp4
public/products/hmd/hmd-watch-p1-16x9.mp4

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
